*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

body  {
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#figura {
    margin: auto;
}

#uno {
    offset-path: path('M529.77,220.976C400.582-56.772,33.363,8.033,30.946,330.4c-1.338,177.048,174.86,243.229,292.177,314.007C436.881,713.05,517.845,806.949,530.532,846.923,541.394,807.758,631.573,711.2,736.877,642.488c115.142-75.132,293.513-136.966,292.173-314.012C1026.62,5.309,653.018-45.694,529.77,220.976Z');
    animation: move 15s infinite linear;
    position: absolute;
    

  
    
}
    @keyframes move {
        0% {
          offset-distance: 0%;
        }
        100% {
          offset-distance: 100%;
        }
      }

      #circulo {
        offset-path: path('M529.77,220.976C400.582-56.772,33.363,8.033,30.946,330.4c-1.338,177.048,174.86,243.229,292.177,314.007C436.881,713.05,517.845,806.949,530.532,846.923,541.394,807.758,631.573,711.2,736.877,642.488c115.142-75.132,293.513-136.966,292.173-314.012C1026.62,5.309,653.018-45.694,529.77,220.976Z');
    animation: move1 15s infinite linear;
    animation-delay: 0.5s;
    position: absolute;
      }

      @keyframes move1 {
        0% {
          offset-distance: 0%;
        }
        100% {
          offset-distance: 100%;
        }
      }

      #circulodos {
        offset-path: path('M529.77,220.976C400.582-56.772,33.363,8.033,30.946,330.4c-1.338,177.048,174.86,243.229,292.177,314.007C436.881,713.05,517.845,806.949,530.532,846.923,541.394,807.758,631.573,711.2,736.877,642.488c115.142-75.132,293.513-136.966,292.173-314.012C1026.62,5.309,653.018-45.694,529.77,220.976Z');
    animation: move2 15s infinite linear;
    animation-delay: 1s;
    position: absolute;
      }

      @keyframes move2 {
        0% {
          offset-distance: 0%;
        }
        100% {
          offset-distance: 100%;
        }
      }


      #cuadrado {
        offset-path: path('M529.77,220.976C400.582-56.772,33.363,8.033,30.946,330.4c-1.338,177.048,174.86,243.229,292.177,314.007C436.881,713.05,517.845,806.949,530.532,846.923,541.394,807.758,631.573,711.2,736.877,642.488c115.142-75.132,293.513-136.966,292.173-314.012C1026.62,5.309,653.018-45.694,529.77,220.976Z');
        animation: move3 15s infinite linear;
       animation-delay: 1.5s;
      }

      @keyframes move3 {
        0% {
          offset-distance: 0%;
        }
        100% {
          offset-distance: 100%;
         
        }
      }

      /* figura dos Flor */

      #cinco {
        offset-path: path('M669.608,489.14c45.409,7.631,187.607,24.924,286.468-36.045-98.861-60.988-241.059-43.676-286.468-36.055,43.049-16.583,174.665-74.238,230.448-177.531-115.467-2.323-230.144,85.3-265.743,115.1C663.48,318.247,749.237,201.092,746.992,83.149c-101.117,56.974-157.566,191.433-173.809,235.41,7.47-46.368,24.407-191.647-35.277-292.637-59.712,101.01-42.745,246.317-35.285,292.676-16.215-43.958-72.644-178.465-173.8-235.44-2.265,117.973,83.55,235.158,112.7,271.485-35.561-29.775-150.267-117.438-265.752-115.125C231.53,342.832,363.2,400.477,406.234,417.06c-45.382-7.621-187.617-24.953-286.5,36.035,98.852,60.979,241.068,43.676,286.478,36.055-43.06,16.584-174.685,74.228-230.448,177.532,115.439,2.323,230.134-85.31,265.734-115.1C412.334,587.943,326.557,705.1,328.822,823.041c101.126-56.973,157.556-191.422,173.79-235.409-7.451,46.378-24.4,191.647,35.294,292.637,59.7-100.981,42.755-246.259,35.285-292.637,16.254,43.987,72.684,178.436,173.8,235.409,2.274-117.942-83.512-235.1-112.669-271.454,35.589,29.785,150.266,117.4,265.733,115.1C844.292,563.378,712.667,505.734,669.608,489.14Z    ');
        animation: move 30s infinite linear;
        position: absolute;
       
        
    
      
        
    }
        @keyframes move {
            0% {
              offset-distance: 0%;
            }
            100% {
              offset-distance: 100%;
            }
          }
    
          #seis {
            offset-path: path('M669.608,489.14c45.409,7.631,187.607,24.924,286.468-36.045-98.861-60.988-241.059-43.676-286.468-36.055,43.049-16.583,174.665-74.238,230.448-177.531-115.467-2.323-230.144,85.3-265.743,115.1C663.48,318.247,749.237,201.092,746.992,83.149c-101.117,56.974-157.566,191.433-173.809,235.41,7.47-46.368,24.407-191.647-35.277-292.637-59.712,101.01-42.745,246.317-35.285,292.676-16.215-43.958-72.644-178.465-173.8-235.44-2.265,117.973,83.55,235.158,112.7,271.485-35.561-29.775-150.267-117.438-265.752-115.125C231.53,342.832,363.2,400.477,406.234,417.06c-45.382-7.621-187.617-24.953-286.5,36.035,98.852,60.979,241.068,43.676,286.478,36.055-43.06,16.584-174.685,74.228-230.448,177.532,115.439,2.323,230.134-85.31,265.734-115.1C412.334,587.943,326.557,705.1,328.822,823.041c101.126-56.973,157.556-191.422,173.79-235.409-7.451,46.378-24.4,191.647,35.294,292.637,59.7-100.981,42.755-246.259,35.285-292.637,16.254,43.987,72.684,178.436,173.8,235.409,2.274-117.942-83.512-235.1-112.669-271.454,35.589,29.785,150.266,117.4,265.733,115.1C844.292,563.378,712.667,505.734,669.608,489.14Z');
        animation: move1 32s infinite linear;
        animation-delay: 0;
        width: 200px;
        height: 20px;
        background-image: url(../SVG/images/ovni.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
          }
    
          @keyframes move1 {
            0% {
              offset-distance: 0%;
            }
            100% {
              offset-distance: 100%;
            }
          }
    
          #siete {
            offset-path: path('M669.608,489.14c45.409,7.631,187.607,24.924,286.468-36.045-98.861-60.988-241.059-43.676-286.468-36.055,43.049-16.583,174.665-74.238,230.448-177.531-115.467-2.323-230.144,85.3-265.743,115.1C663.48,318.247,749.237,201.092,746.992,83.149c-101.117,56.974-157.566,191.433-173.809,235.41,7.47-46.368,24.407-191.647-35.277-292.637-59.712,101.01-42.745,246.317-35.285,292.676-16.215-43.958-72.644-178.465-173.8-235.44-2.265,117.973,83.55,235.158,112.7,271.485-35.561-29.775-150.267-117.438-265.752-115.125C231.53,342.832,363.2,400.477,406.234,417.06c-45.382-7.621-187.617-24.953-286.5,36.035,98.852,60.979,241.068,43.676,286.478,36.055-43.06,16.584-174.685,74.228-230.448,177.532,115.439,2.323,230.134-85.31,265.734-115.1C412.334,587.943,326.557,705.1,328.822,823.041c101.126-56.973,157.556-191.422,173.79-235.409-7.451,46.378-24.4,191.647,35.294,292.637,59.7-100.981,42.755-246.259,35.285-292.637,16.254,43.987,72.684,178.436,173.8,235.409,2.274-117.942-83.512-235.1-112.669-271.454,35.589,29.785,150.266,117.4,265.733,115.1C844.292,563.378,712.667,505.734,669.608,489.14Z');
        animation: move2 25s infinite linear;
        animation-delay: 1s;
        position: absolute;
          }
    
          @keyframes move2 {
            0% {
              offset-distance: 0%;
            }
            100% {
              offset-distance: 100%;
            }
          }
    
    
          #ocho {
            offset-path: path('M669.608,489.14c45.409,7.631,187.607,24.924,286.468-36.045-98.861-60.988-241.059-43.676-286.468-36.055,43.049-16.583,174.665-74.238,230.448-177.531-115.467-2.323-230.144,85.3-265.743,115.1C663.48,318.247,749.237,201.092,746.992,83.149c-101.117,56.974-157.566,191.433-173.809,235.41,7.47-46.368,24.407-191.647-35.277-292.637-59.712,101.01-42.745,246.317-35.285,292.676-16.215-43.958-72.644-178.465-173.8-235.44-2.265,117.973,83.55,235.158,112.7,271.485-35.561-29.775-150.267-117.438-265.752-115.125C231.53,342.832,363.2,400.477,406.234,417.06c-45.382-7.621-187.617-24.953-286.5,36.035,98.852,60.979,241.068,43.676,286.478,36.055-43.06,16.584-174.685,74.228-230.448,177.532,115.439,2.323,230.134-85.31,265.734-115.1C412.334,587.943,326.557,705.1,328.822,823.041c101.126-56.973,157.556-191.422,173.79-235.409-7.451,46.378-24.4,191.647,35.294,292.637,59.7-100.981,42.755-246.259,35.285-292.637,16.254,43.987,72.684,178.436,173.8,235.409,2.274-117.942-83.512-235.1-112.669-271.454,35.589,29.785,150.266,117.4,265.733,115.1C844.292,563.378,712.667,505.734,669.608,489.14Z');
            animation: move3 37s infinite linear;
           animation-delay: 1.5s;
          }
    
          @keyframes move3 {
            0% {
              offset-distance: 0%;
            }
            100% {
              offset-distance: 100%;
             
            }
          }

          #images {
            offset-path: path('M529.77,220.976C400.582-56.772,33.363,8.033,30.946,330.4c-1.338,177.048,174.86,243.229,292.177,314.007C436.881,713.05,517.845,806.949,530.532,846.923,541.394,807.758,631.573,711.2,736.877,642.488c115.142-75.132,293.513-136.966,292.173-314.012C1026.62,5.309,653.018-45.694,529.77,220.976Z');
            offset-rotate: 0deg;
            offset-anchor: auto;
            background-color: aqua;
            position: absolute;
            animation: move9 35s infinite linear;
          }

         
          @keyframes move9 {
            0% {
              offset-distance: 0%;
            }
          
            100% {
              offset-distance: 100%;
            }
          }